@model TasikmalayaKota.Simpatik.Web.Services.mProgram.Models.mProgramModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <ejs-dropdownlist id="IdUrusan" placeholder="Pilih Sub Urusan" popupHeight="200px" allowFiltering="true" filtering="onfilteringUrusan" sortOrder="@ViewBag.sortDropdown" 
                                  query="@ViewBag.queryOPD" floatLabelType="Always">
                    <e-data-manager url="/UrusanMaster/UrusanMasterAll" adaptor="UrlAdaptor" crossDomain="true"></e-data-manager>
                    <e-dropdownlist-fields text="NamaSubUrusan" value="IdUrusan"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="KodeSubkegiatan" cssClass="e-input" placeholder="Kode Program" floatLabelType="Always" ejs-for="@Model.KodeSubkegiatan"></ejs-textbox>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="NamaSubkegiatan" cssClass="e-input" placeholder="Nama Program" floatLabelType="Always" ejs-for="@Model.NamaSubkegiatan"></ejs-textbox>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>
