@model TasikmalayaKota.Simpatik.Web.Models.UserValidationArgsModel
@{
    ViewData["Title"] = "Masuk";
    Layout = "_Login";
}

<section class="row flexbox-container">
    <div class="col-xl-8 col-11 d-flex justify-content-center">
        <div class="card bg-authentication rounded-0 mb-0">
            <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                    <img src="~/images/logo/login.png" alt="branding logo">
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="card rounded-0 mb-0 px-2">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="mb-0">Selamat Datang</h4>
                            </div>
                        </div>
                        <p class="px-2">Silahkan masuk dengan akun anda.</p>
                        <div class="card-content">
                            <div class="card-body pt-1">
                                <form asp-action="UserValidation">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                                        <input asp-for="UserName" type="text" class="form-control" id="user-name" placeholder="Nama Akun" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                        <label asp-for="UserName">Nama Akun</label>
                                    </fieldset>

                                    <fieldset class="form-label-group position-relative has-icon-left">
                                        <input asp-for="Password" type="password" class="form-control" id="user-password" placeholder="Kata Sandi" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-lock"></i>
                                        </div>
                                        <label asp-for="Password">Kata Sandi</label>
                                    </fieldset>
                                    <div class="form-group d-flex justify-content-between align-items-center">
                                        <div class="text-left">
                                            <fieldset class="checkbox">
                                                <div class="vs-checkbox-con vs-checkbox-primary">
                                                    <input id="showPass" type="checkbox">
                                                    <span class="vs-checkbox">
                                                        <span class="vs-checkbox--check">
                                                            <i class="vs-icon feather icon-check"></i>
                                                        </span>
                                                    </span>
                                                    <span class="">Tampilkan Kata Sandi</span>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-none btn-inline">Masuk</button>
                                </form>
                            </div>
                        </div>
                        <div class="login-footer">
                            <div class="divider">
                                <div class="divider-text">SIMPATTIK</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

