@{
    Layout = "_Login";
}
<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-sm-8 offset-sm-2">
                <h1 class="mt-5">@ViewData["ErrorMessage"]</h1>
                <p class="mt-5">The page you are looking for does not exist.</p>
                <p class="mt-1">How you got here is a mistery.</p>
                <p class="mt-1">But you can click the button bellow to go back to the homepage.</p>
                <a class="btn btn-success mt-3 mb-5" href="/">Home</a>
            </div>
        </div>
    </div>
</div>