@model TasikmalayaKota.Simpatik.Web.Services.mSatuan.Models.mSatuanModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="NamaSatuan" cssClass="e-input" placeholder="Satuan" floatLabelType="Always" ejs-for="@Model.NamaSatuan"></ejs-textbox>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>