@model TasikmalayaKota.Simpatik.Web.Services.mTahunAnggaran.Models.mTahunAnggaranModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <div class="e-float-input e-control-wrapper">
                <ejs-textbox id="TahunAnggaran" cssClass="e-input" placeholder="Tahun Anggaran" floatLabelType="Always" ejs-for="@Model.TahunAnggaran"></ejs-textbox>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>